<!--{template common/header}-->
<!--[name]xinglan_d10 咖啡小站[/name]-->
<!--{eval $list = array();}-->
<!--{eval $wheresql = category_get_wheresql($cat);}-->
<!--{eval $list = category_get_list($cat, $wheresql, $page);}-->
<link rel="stylesheet" type="text/css" href="template/xinglan_d10/common/index.css">

<style id="diy_style" type="text/css"></style>
<div class="wp">

<div id="pt" class="bm cl">
	<div class="z">
		<a href="./" class="nvhm" title="{lang homepage}">$_G[setting][bbname]</a> <a href="portal.php">&nbsp;&nbsp;首页</a>
		<em>&rsaquo;</em>
		<!--{loop $cat[ups] $value}--> <a href="{$portalcategory[$value['catid']]['caturl']}">$value[catname]</a><em>&rsaquo;</em><!--{/loop}-->
		$cat[catname] 
	</div>

</div>
<!--[diy=diyab]--><div id="diyab" class="area"></div><!--[/diy]-->
</div>

<!--{ad/text/wp a_t}-->



<div id="ct" class="ct2 wp cl">
	<div class="mn">
		<!--{ad/articlelist/mbm hm/1}--><!--{ad/articlelist/mbm hm/2}-->
		
		<div class="bm2">
		<div class="tttop">
			<div class="bm_h cl">
				<!--{if $_G[setting][rssstatus] && !$_GET['archiveid']}--><a href="portal.php?mod=rss&catid=$cat[catid]" class="y xi2 rss" target="_blank" title="RSS">我要{lang rss_subscribe_this}</a><!--{/if}-->
				<!--{if ($_G['group']['allowpostarticle'] || $_G['group']['allowmanagearticle'] || $categoryperm[$catid]['allowmanage'] || $categoryperm[$catid]['allowpublish']) && empty($cat['disallowpublish'])}-->
				<a href="portal.php?mod=portalcp&ac=article&catid=$cat[catid]" class="y xi2 addnew">{lang article_publish}</a>
				<!--{/if}-->
				<h1 class="xs2">$cat[catname]列表</h1>
			</div>
			<!--{if $cat[subs]}-->
			<div class="bm_c bbda">
            <span class="xiajfl">{lang sub_category}:</span>
				
				<!--{eval $i = 1;}-->
				<!--{loop $cat[subs] $value}-->
				<!--{if $i != 1}--><span class="pipe">|</span><!--{/if}--><a href="{$portalcategory[$value['catid']]['caturl']}" class="xi2">$value[catname]</a><!--{eval $i--;}-->
				<!--{/loop}-->
			</div>
			<!--{/if}-->
			</div>
			
			<div class="bm_c xld zxlblb">
            <!--{eval $i = 1;}-->
			<!--{loop $list['list'] $value}-->
				<!--{eval $highlight = article_title_style($value);}-->
				<!--{eval $article_url = fetch_article_url($value);}-->
				<!--{if isset($_G['cache']['plugin']['will_subnav'])}-->
				<!--{eval $art_comment = get_commentnum($value[aid]);}-->
				<!--{else}-->
				<!--{eval $art_comment =0;}-->
				<!--{/if}-->
                 
				<div class="top_new cl newss_{$i}">
              
					<div class="box01 cl">
						<!--{if $value[pic]}-->
						<div class="new_pic pic02">
						    <a href="$article_url" target="_blank"><img src="$value[pic]" alt="$value[title]" class="tn" /></a>
						</div>
						<!--{/if}-->	
						<div class="rig">
						
						
						<h2><a href="$article_url" target="_blank" class="xi2" $highlight>{echo cutstr($value[title],70)}</a> <!--{if $value[status] == 1}-->({lang moderate_need})<!--{/if}--> </h2>
	                           
						<div class="new_weibo">
                             
							<span class="xg1 time">发表于：$value[dateline]</span>&nbsp;&nbsp;&nbsp;
							<span class="xg1 zuoz">作者：$value[username]</span>&nbsp;&nbsp;&nbsp;
							<!--{if $_G['group']['allowmanagearticle'] || ($_G['group']['allowpostarticle'] && $value['uid'] == $_G['uid'] && (empty($_G['group']['allowpostarticlemod']) || $_G['group']['allowpostarticlemod'] && $value['status'] == 1)) || $categoryperm[$value['catid']]['allowmanage']}-->
							<span class="xg1">
								<span class="pipe">|</span>
								<label><a href="portal.php?mod=portalcp&ac=article&op=edit&aid=$value[aid]">{lang edit}</a></label>
								<span class="pipe">|</span>
								<label><a href="portal.php?mod=portalcp&ac=article&op=delete&aid=$value[aid]" id="article_delete_$value[aid]" onclick="showWindow(this.id, this.href, 'get', 0);">{lang delete}</a></label>
							</span>
							<!--{/if}--><!-- Baidu Button BEGIN -->
<div id="bdshare" class="bdshare_t bds_tools get-codes-bdshare">
<span class="bds_more">分享到：</span>
<a class="bds_qzone"></a>
<a class="bds_tsina"></a>
<a class="bds_tqq"></a>
<a class="bds_renren"></a>
<a class="bds_t163"></a>
</div>
<script type="text/javascript" id="bdshare_js" data="type=tools&amp;uid=0" ></script>
<script type="text/javascript" id="bdshell_js"></script>
<script type="text/javascript">
document.getElementById("bdshell_js").src = "http://bdimg.share.baidu.com/static/js/shell_v2.js?cdnversion=" + Math.ceil(new Date()/3600000)
</script>
<!-- Baidu Button END -->								
						</div>
						
						<div id="weibo_info01" class="new_body body02 grey64">{echo cutstr($value[summary],180)}</div>
						
						<a class="zxreadall" href="$article_url" target="_blank">+阅读全文</a>
						
					</div>
				</div>
				</div>
       <!--{eval $i++;}-->
			<!--{/loop}--> 
            
            
			</div>
			<!--[diy=listloopbottom]--><div id="listloopbottom" class="area"></div><!--[/diy]-->
		</div>
		<!--{ad/articlelist/mbm hm/3}--><!--{ad/articlelist/mbm hm/4}-->	
			<!--{if $list['multi']}--><div class="pgs cl">{$list['multi']}</div><!--{/if}-->	
		
	</div>




	<div class="sd pph">

		<div class="drag">
			<!--[diy=diyrighttop]--><div id="diyrighttop" class="area"></div><!--[/diy]-->
		</div>

<!--{if $cat[others]}-->
		<div class="bm wd_sd" style="display:none;">
			<div class="bm_h cl">
				<span class="titletext">{lang category_related}</span>
			</div>
			<div class="bm_c">
				<ul class="xl xl2 cl">
					<!--{loop $cat[others] $value}-->
					<li><a href="{$portalcategory[$value['catid']]['caturl']}">$value[catname]</a></li>
					<!--{/loop}-->
				</ul>
			</div>
		</div>
<!--{/if}-->

		<div class="drag">
			<!--[diy=diy2]--><div id="diy2" class="area"></div><!--[/diy]-->
		</div>


	<!--[diy=wd_new_t02]--><div id="wd_new_t02" class="area"></div><!--[/diy]-->

	<!--[diy=wd_new_t03]--><div id="wd_new_t03" class="area"></div><!--[/diy]-->
    <!--[diy=wd_new_t04]--><div id="wd_new_t04" class="area"></div><!--[/diy]-->
	

	</div>
</div>



<!--{template common/footer}-->